WEBAPP_ADDRESS="0.0.0.0"
WEBAPP_PORT=8080

DB_HOST=db
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=5432

DB_TEST_HOST=testdb
DB_TEST_USER=
DB_TEST_PASSWORD=
DB_TEST_NAME=
DB_TEST_PORT=5433

REDIS_SESSION_KEY=
REDISHOST=redis
REDISPORT=6379
REDIS_MAX_CONNECTIONS=10
REDIS_SECRET_KEY=

BACKEND_BASE_URL="http://localhost:8080"
FRONTEND_BASE_URL="http://localhost:3000"

GOOGLE_APPLICATION_CREDENTIALS=

IS_RELEASE=false