version: "3.8"

services:
  web:
    build: ./backend
    env_file:
      - .env
    ports:
      - "8080:8080"
    volumes:
      - .:/usr/src/app/backend
    command: go run cmd/main.go -b 0.0.0.0
  db:
    image: postgres:alpine
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports: 
      - "5432:5432"
    volumes:
      - postgres-db:/var/lib/postgresql/data

volumes:
  postgres-db: